@charset "utf-8";

.picture{
  position: relative;
  background: #ffffff;
}

img{
  width: 100%;
}

.maintitle{
  position: absolute;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  top: 400px;
  left: 50%;
  transform: translate( -50%);
  white-space:nowrap;
}


.subtitle{
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  bottom: 400px;
  left: 50%;
  transform: translate( -50%);
  white-space:nowrap;
}

.work-pc{
  background: #e3f2fd;
  display: flex;
}

.pc{
  width: 250px;
  margin-top: 50px;
}

.work-text{
  font-size: 40px;
  letter-spacing: 10px;
  margin: 20px;
}